---
page_classes: 'page_home'
#page_title: ''
#page_description: ''
section_class: 'section_home'
---
<header>
	<h2>The Wellington Front-end Development initiative.</h2>
</header>
<p>We're a community of Web Developers looking to learn more about Front-end Development and its associated disciplines:</p>
<ul>
	<li><abbr title="HyperText Markup Language">HTML</abbr></li>
	<li><abbr title="Cascading StyleSheets">CSS</abbr></li>
	<li>JavaScript / ECMAScript</li>
	<li>Web Performance</li>
	<li>Accessibility</li>
	<li>Templating Languages</li>
	<li>Web Application Frameworks</li>
</ul>
